/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BASE STYLES */
body {
  background-color: #e8f0f7;
  font-family: 'Inter', sans-serif;

  background-image: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=100');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* NORMAL STYLES */
.header {
  position: fixed;
  width: 100%;
  background-color: rgba(19, 22, 26, 0.7);
}

.header__content {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  
}

.logo__img {
  display: block;
  height: 20px;
}

.nav {

}

.nav__list {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
}

.nav__item {

}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;  position: relative;
  padding: 7px 14px;
  background-color: rgba(255, 255, 255, 0);
}

.nav__link:hover,
.nav__link:focus,
.dropdown:hover .nav__link {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown {
  position: relative;
  font-size: 14px;
}

.dropdown:hover .dropdown__list {
  display: block;
}

.dropdown__list,
.submenu__list {
  display: none;
  position: absolute;
  top: 125%;
  left: 0;
  background-color: #fff;
  min-width: max-content;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown__item,
.submenu__item {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown__item:hover,
.submenu__item:hover {
  background-color: rgb(234, 234, 234);
}

.dropdown__link {

}

.submenu {
  position: relative;
}

.submenu:hover .submenu__list {
  display: block;
}

.submenu__list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  min-width: max-content;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERIES */
@media (max-width: 1470px) {
  .dropdown__list {
    left: initial;
    right: 0;
  }

  .submenu__list {
    left: initial;
    right: 100%;
  }
}

@media (max-width: 650px) {
  .header__content {
    padding: 25px 0;
    flex-direction: column;
    row-gap: 18px;
    align-items: center;
    position: relative;
  }

  .nav__list {
    column-gap: 10px;
  }

  .nav__item {
    position: initial;
  }

  .dropdown__list {
    top: 100%;
    width: 100%;
    text-align: center;
  }

  .submenu__list {
    right: initial;
    left: 0;
    top: 100%;
    width: 100%;
  }
}